@media screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: medium;
  }
  h2 {
    font-size: small;
  }
  h3 {
    font-size: smaller;
  }
}

a {
  color: aquamarine;
  background-color: blue;
}

html {
  font-family: courier new, courier, monospace;
  background-color: lightgray;
}

#content {
  color: black;
  font-family: verdana, geneva, tahoma, sans-serif;
  font-size: large;
  font-weight: bolder;
  margin-left: 0px;
}

li {
  font-size: small;
  color: black;
  white-space: normal;
  display: flex;
}

p {
  color: black;
  font-weight: bold;
  white-space: normal;
}

#content {
  display: flex;
}

#element1 {
  position: static;
}

#element2 {
  position: static;
}

#element3 {
  position: static;
}

#paragraph1 {
  border: 1px solid black;
  padding: 10px;
}

#paragraph2 {
  border: 1px solid black;
  padding: 10px;
}

#contactform {
  margin: 10px;
  padding: 10px;
  font-weight: bolder;
}
